$dark: #191919;
$light-grey: #cecece;
$light-dark: #24262b;
$blue-sky: #2783b7;
$blue: #249fd3;
$grey: #4e5053;
$light: #eeeeee;
$light-blue: #c4e5f3;
$light-grey-j: #e0e2e9;
$light-purp: #838ba9;
$transpar-blue: #c4e5f3b0;
$transpar-blue-sky: #2782b7a4;
$red-sky: #db4b67;
$transpar-red-sky: #db4b68ad;
$light-red: #f9e8ec;
$transpar-red: #f9e8ecb6;
$snow: #eff1f9;
$grey-new: #4a4e59;
$light-grey-new-j: #8593b2;
$grey-new-a: #e7eaf0;
$grey-new-b: #565d6b;
$light-purp-new: #7b8199;
$snow-a: #ebebeb;
$pool-grey: #dce3f2;
$relentlessly_red: #f8354c;
$gtr-blue: #40c1d4;
$gtr-blue-low: #40c0d433;
