.st0 {
    fill: #ffffff;
}
.st1 {
    fill: #8594b0;
}
.st2 {
    opacity: 0.49;
    fill: #f8d3d1;
    enable-background: new;
}
.st3 {
    fill: #ee4127;
}
.st4 {
    fill: #ec6f5e;
}
.st5 {
    fill: #ee3a4f;
}
.st6 {
    fill: #3a4a65;
}
.st7 {
    fill: #8593b2;
}
.st8 {
    fill: #8c99b6;
}
.st9 {
    fill: #4a4e59;
}
.st10 {
    fill: #7878d2;
}
.st11 {
    fill: #fa354c;
}
.st12 {
    fill: #8794b2;
}
.st13 {
    fill: #8695b1;
}
.st14 {
    fill: #e5a03e;
}
.st15 {
    opacity: 0.1;
    fill: #e5a03e;
    enable-background: new;
}
.st16 {
    fill: #f4d9de;
}
.st17 {
    fill: #f9f2f3;
}
.st18 {
    fill: #e02254;
}
.st19 {
    fill: #e8e8e9;
}
.st20 {
    fill: #ef5777;
}
.st21 {
    fill: #e0ecf6;
}
.st22 {
    fill: #2783b7;
}
.st23 {
    fill: #bb72d3;
}
.st24 {
    fill: #249fd3;
}
.st25 {
    fill: #f7e7eb;
}
.st26 {
    fill: #dc4b68;
}
.st27 {
    opacity: 0.11;
    fill: #6a7897;
    enable-background: new;
}
.st28 {
    fill: #6a7897;
}
.st29 {
    fill: #8694b2;
}
.st30 {
    fill: #c7e2f9;
}
.st31 {
    fill: #ddc8c3;
}
.st32 {
    fill: #2e6289;
}
.st33 {
    fill: #ef5a4b;
}
.st34 {
    fill: #efd5ce;
}
.st35 {
    fill: #f06c5d;
}
.st36 {
    fill: #09a8d3;
}
.st37 {
    fill: #eaa26c;
}
.st38 {
    fill: #f9b69f;
}
.st39 {
    fill: #0b84af;
}
.st40 {
    fill: #22bce0;
}
